HOST_SUFFIX={{ zgw_host_suffix }}
SECRET_KEY={{ zgw_secret_key }}
POSTGIS_PASSWORD={{ zgw_postgis_password }}
RABBITMQ_PASSWORD={{ zgw_rabbitmq_password }}
GEMMA_VERSION={{ zgw_version }}
IS_HTTPS={{ zgw_is_https }}
