HOST_SUFFIX={{ zgw_host_suffix }}
SECRET_KEY={{ zgw_secret_key }}
POSTGIS_PASSWORD={{ zgw_postgis_password }}
RABBITMQ_PASSWORD={{ zgw_rabbitmq_password }}
GEMMA_ZRC_VERSION={{ zgw_zrc_version }}
GEMMA_ZTC_VERSION={{ zgw_ztc_version }}
GEMMA_DRC_VERSION={{ zgw_drc_version }}
GEMMA_BRC_VERSION={{ zgw_brc_version }}
GEMMA_NRC_VERSION={{ zgw_nrc_version }}
GEMMA_AC_VERSION={{ zgw_ac_version }}
IS_HTTPS={{ zgw_ssl_enabled }}
