CREATE DATABASE "gemma-ac";
CREATE DATABASE "gemma-brc";
CREATE DATABASE "gemma-drc";
CREATE DATABASE "gemma-nrc";
CREATE DATABASE "gemma-zrc";
CREATE DATABASE "gemma-ztc";
CREATE DATABASE "gemma-zaken-demo";
