# {{ ansible_managed }}

ssl_certificate {{ zgw_ssl_certificate }};
ssl_certificate_key {{ zgw_ssl_certificate_key }};

ssl_dhparam {{ zgw_ssl_dhparam }};

ssl_session_timeout 1d;
ssl_session_cache shared:MozSSL:10m;  # about 40000 sessions
ssl_session_tickets off;

ssl_protocols {{ ssl_config.configurations.intermediate.tls_versions | join(' ') }};
ssl_ciphers {{ ssl_config.configurations.intermediate.ciphers.openssl | join(':') }};
ssl_prefer_server_ciphers off;

add_header Strict-Transport-Security "max-age=63072000" always;

ssl_stapling on;
ssl_stapling_verify on;

ssl_trusted_certificate {{ zgw_ssl_ocsp_certificates }};
